#profile-picture{
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-label{
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

.profile-btn{
    width: 100%;
    margin-top: 10px;
}