<div>
  <div *ngFor="let follower of followers">
    <div class="col-md-6">
      <div class="card follow-card">
        <img class="image-header" src="http://www.dierenafbeeldingen.com/data/media/32/aap.jpg" alt="profile-banner-picture"/>
        <div class="follow-body">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFBgO_ed2rAuqV9Txlfdgr4tLk_MgyqRZODx8wTl92NCNX0Pqd" alt="profile-picture"/>
          <p>{{follower.username}}</p>
        </div>
      </div>
    </div>  
  </div>
</div>
