<div class="nav-container">
  <div class="navigation-buttons">
    <ul>
      <li class="menu-item align-items-center"><a routerLinkActive="active" routerLink="/home">Dashboard</a></li>
      <li *ngIf="isLoggedIn()" class="menu-item align-items-center"><a routerLinkActive="active" routerLink="/profile/{{username}}">Profile</a></li>
    </ul>
  </div>
  <form class="search-form" (keyup.enter)="search(searchQuery.value)">  
    <input #searchQuery class="search-input" placeholder="Search Kwetter" />
  </form>
  <input *ngIf="isLoggedIn(); else loginButton" class="btn btn-authenticate btn-primary" type="button" value="Logout" (click)="logout()" />
  <ng-template #loginButton><input class="btn btn-authenticate btn-primary" type="button" value="Login" routerLink="/login" /></ng-template>
</div>
